<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index page</title>
</head>
<body>
    <div>index page</div>

    <form id="form">
        <div>
            <label>名称：</label>
            <input type="text" name="name">
        </div>
        <input type="submit" value="添加">
    </form>

    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        
        <tbody>
            <!-- 渲染 -->
        </tbody>
        
    </table>

    <script id="tmpl" type="text/template">
    {{each message}}
    <tr>
        <td>{{$value.id}}</td>
        <td>{{$value.name}}</td>
        <td>{{$value.ctime}}</td>
        <td><a href="javascript:void(0)">删除</a></td>
    </tr>
    {{/each}}
    </script>


    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script src="../node_modules/art-template/lib/template-web.js"></script>
    <script src="../assets/js/index.js"></script>
</body>
</html>